.field-game {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: url('css/img/hammer.png'), auto;
}

.field {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  margin-right: 30px;
  background: gray;
  border-radius: 50%;
}

img {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: brown;
  border-radius: 50%;
}

